* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container{
    height: auto;
    min-width: 920px;
    outline: 0.5px solid lightblue;

}
.books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
}

.book {
    outline: 0.5px solid lightgreen;
    min-height: 250px;
}
