* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Roboto';
    src: url('Roboto_Condensed-ThinItalic.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0;
    background-color: rgb(225, 167, 218);
    font-family: 'Roboto', sans-serif;
}

.container{
    height: auto;
    min-width: 920px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;


}
.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 15px;
}

.book {
    
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit_form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 920px;
    background-color: white;
    
}

.form {
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    
    
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.column {
    flex: 1 1 0;
}

.field {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}

input {
    border: 1px solid #E5E7EB;
    outline: none;
}
input:focus {
    border: 1px solid blue;
    box-shadow: 0px 0 1px 1px lightgray;
}

