* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Roboto';
    src: url('Roboto_Condensed-ThinItalic.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: rgb(225, 167, 218);
    font-family: 'Roboto', sans-serif;
}

.container{
    height: auto;
    min-width: 920px;


}
.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 15px;
}

.book {
    
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
