* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Roboto';
    src: url('Roboto_Condensed-ThinItalic.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    margin  : 0;
    background-color: rgb(225, 167, 218);
    font-family: 'Roboto', sans-serif;
    
}

.container{
      
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;


}
.books {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 15px;
}

.book {
    
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 12px;
    background-color: white;
    font-size: 24px;
    padding: 20px;
    gap: 5px;
}

.input-title {
    width: 200px;
    height: 150px;
    background-color: rgb(250, 207, 207);
}

.submit_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    width: 400px;
    height: 920px;
    background-color: rgb(36, 35, 35);
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 32px;
    
    
}

.form {
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    
}

.form-title {
    font-size: 40px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}


.field {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}

input {
    border: 1px solid #E5E7EB;
    outline: none;
    height: 30px;
}
input:focus {
    border: 1px solid blue;
    box-shadow: 0px 0 1px 1px lightgray;
}

.btn {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 45px;
    width: auto;   
    background-color: rgb(227, 234, 237);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 30px;  
    
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(209, 193, 14);
    color: white;
}

.btn-text {
    font-size: 24px;
    font-weight: 900;
}

.btn-small {
    width: 70%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

